body{
	background-color: #404b57;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Amatic SC', sans-serif; 
	height: 100%;	
}
/*Работа с шапкой, то есть описание проекта*/
header{
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	overflow-x: hidden; 
	font-family: 'Amatic SC', sans-serif; 
	background-color: #6495ed;
	text-align: center;
	font-weight: 550px; 
	font-size: 40px;
}
span{
	position: relative;
	top: 270px;
	color: white;
}
.name{
	position: relative;
	top: 280px;
	color: white;
}

/*Шапка заканчивается*/

.parttwo{
	text-align: right;
	margin-right: 350px;
	color: white;
	border: 2px solid #346ac2;
	padding: 10px 20px;
	background-color: #346ac2;
	display: inline-block;
	font-weight: lighter;
	font-family: 'Amatic SC', sans-serif;
	font-size: 55px;
	position: relative;
	left: 780px;
	border-radius: 10px;
}
.partthree{
	color: #fff;
	font-family: 'Amatic SC', sans-serif; 
	font-size: 30px;
	font-weight: lighter;
	margin-left: 45%;
	display: inline-block;
	box-shadow: 0px 5px 0px 0px #346ac2;
	text-align: center;

}
.develop{
	text-align: center;
	font-size: 33px;
	color: #fff;
	position: relative;
	margin-top: 300px;
}
.about-us{
	
	color: #fff;
	font-family: 'Amatic SC', sans-serif; 
	font-size: 55px;
	font-weight: lighter;
	margin-left: 53%;
	padding: 10px 20px;
	background: #346ac2;
	display: inline-block;
	border-radius: 10px;
	margin-top: 300px;
}
.regist{
	position: relative;
	top: 80px;
	text-align: center;
	font-size: 30px;
	box-shadow: px 1px 0px 0px rgb(206, 14, 14);
	border: 2px solid #819dc9;
	padding: 10px 20px;
	background-color:#346ac2;
	color: rgb(110, 238, 255);
	width: 300px;
	left: 600px;
}






/*Начинается бегущая полоска*/
.container{ 
	max-width: 1170px; 
	width: 100%; 
	margin: 0 auto; 
}
.nav-bar{
	position: fixed;    
	z-index: 9999;
	width: 100%;   
	left: 0;
	height: 65px; 
	background: rgba(33,33,33,0.4)
}

.nav-bar ul{ 
	list-style: none; 
	text-align: right; 
	font-size: 23px; 
	margin-top: 20px;
	font-weight: 150px; 
	margin-right: 200px;
	padding-left: 0; 
} 

.nav-bar ul li{ 
	display: inline-block; 
	margin-right: 20px; 
} 


.nav-bar ul li:first-child{ 
	/*float: left;*/ 
	margin-top: -10px; 
} 

.nav-bar ul li:nth-child(9){ 
	margin-right: 50px; 
} 


.nav-bar ul li a{ 
	color: #fff; 
	text-decoration: none; 
} 

.nav-bar ul li a i{  
	font-size: 20px; 
} 

.nav-bar ul li a img{  
	margin-left: 100%;
	width: 60%;
	height: 80%;
} 

.nav-bar ul li a:hover{ 
	color: #de4545; 
} 

.header-caption{ 
	max-width: 600px; 
	width: 100%; 
	margin: 0 auto;  
	margin-top: 350px;
	color: #fff; 
	text-align: center; 
} 

/*Заканчивается*/